* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
}

main {
  max-width: 700px;
  min-height: 100vh;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

@media screen and (max-width: 700px) {
  main {
    width: 100%;
  }
}

h1 {
  margin-bottom: 30px;
  font-size: 4rem;
}

h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

p {
  font-size: 1.2rem;
}

article {
  width: 100%;
  padding: 30px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 2px solid #fff;
}

form {
  width: 100%;
}

.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

label {
  font-size: 1.7rem;
  margin-bottom: 10px;
}

input {
  padding: 15px;
  font-size: 1.7rem;
  border-radius: 15px;
}

textarea {
  height: 150px;
  resize: none;
  border-radius: 15px;
  padding: 15px;
  font-size: 1.7rem;
}

button {
  width: 100%;
  padding: 20px;
  font-size: 1.5rem;
  border-radius: 15px;
  margin-bottom: 20px;
}
